# ignore project files
SWAzamClient/.classpath
SWAzamClient/.project
SWAzamClient/.settings

SWAzamPeer/.classpath
SWAzamPeer/.project
SWAzamPeer/.settings

SWAzamServer/.classpath
SWAzamServer/.project
SWAzamServer/.settings

.metadata

# ignore fingerprint libs

fingerprint.jar
fingerprint-0.1-javadoc.jar

# ignore binaries

SWAzamClient/bin
SWAzamPeer/build
SWAzamServer/build
