# ignore project files
.project
.classpath
.settings
.metadata

# ignore fingerprint libs

fingerprint.jar
fingerprint-0.1-javadoc.jar

# ignore binaries

*.war
SWAzamClient/bin
SWAzamClient/build
SWAZamPeer/bin
SWAzamPeer/build
SWAzamPeer/WebContent/WEB-INF/classes/
SWAzamServer/bin
SWAzamServer/build
SWAzamServer/WebContent/WEB-INF/classes/

# ignore build properties
build.properties
tomcat.properties

SWAzamPeer/library/*.dat
