# ignore project files
.project
.classpath
.settings
.metadata

# ignore fingerprint libs

fingerprint.jar
fingerprint-0.1-javadoc.jar

# ignore binaries

*.war
SWAzamClient/bin
SWAZamPeer/bin
SWAzamPeer/build
SWAzamPeer/WebContent/WEB-INF/classes/
SWAZamServer/bin
SWAzamServer/build

# ignore build properties
SWAzamPeer/build.properties

